.job_title_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #2e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  color: white;
  text-align: center;
}

.well.profile-block {
  color: #0F0E0D;
  h3 {
    margin-top: 0px;
  }
}

.well.profile-description {
  background-color: #A95B47;
  border-color: #3F1D14;
}

.well.contact-info {
  background-color: #A95B47;
  border-color: #3F1D14;
}
